/.vscode
/1.exe
/6.Outputting_the_opposite_value_on_the_master_process_and_ranks_on_the_subordinate_processes..exe
/7.MPI_Send-MPI_Recv.exe
/8.Broadcasting_data_from_an_array_by_the_master_process.exe
/9.Sending_four_integers_in_a_single_transmission.exe
/mpi_test.cpp
/PP_dump
/Sending_four_integers_in_a_single_transmission.exe
/задачи с матрицами 5 баллов.pdf
/обедающие философы.C++
/Параллельное программирование.rar
/Сборник задач по ПП-2026 (2).docx